nav {
    height: 80px;
    background-color: #666666;

}

.border {
    border: 1px solid tomato;
}

.hero-text {
    height: 224px;
}

/* zeha css */

nav ul li {
    color: #fff;
}

.web-build {
    background: #2cab7f;
    height: 462px;
}

.web-trf {
    background: #eca03e;
    height: 462px;
}

.wp-user {
    background: #3dafcb;
    height: 462px;
}

.wp-dev {
    background: #88659c;
    height: 462px;
}

.card {
    height: 362px;
    background-color: #ffff
}

.testimonial {
    height: 570px;
    background-color: #F5DEB3
}

footer {
    background-color: #666;
    height: 516px;
}

.deck {
    margin: 0 auto;
    width: 90%;
}

.host-platform {
    background-color: #F5DEB3
}

.icon-size{
    width: 14px;
    height: 18px;
}

.hero-h1{
    font-size: 44px;
    line-height: 54px;
    color: #000;
    font-weight: 700;
}

.hero-h2{
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
}

.highlight {
    color: #cdaa72;
}

.hero-p{
    color: #444;
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    padding: 40px 0;
    font-style: italic;
}

/* Card */

.card-span{
    color: #939191;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    text-transform: uppercase;
}

.card-h4{
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 700;
    padding-bottom: 30px;
}

.card-p{
    color: #5d5c5c;
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 10px;
    margin-bottom: 30px !important;
}

.btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    background-color: #f0ad4e;
    border-color: #eea236;
    user-select: none;
}

/* Flash Header */
.flash-header{
    margin: 0 auto;
}


.flash-header h2{
    padding-top: 26px;
    margin-top: 30px;
    font-size: 30px;
    line-height: 40px;
    color: #000;
    font-weight: 700;
    text-transform: capitalize;
}    

.flash-header p{
    color: #444;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    padding-bottom: 40px;
}

/* Flash Card */
.flash-card span{
    color: rgba(255,255,255,0.6);
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    text-transform: uppercase;
}

.flash-card h3{

}

.flash-card p{

}


/* Testimonials */
.testimonial-author{
    background-color: #fff;
}

/* Sandals */



.flex{
    display: flex;
}



/* Added CSS by Ebeid */

.background {
    background-image: url(https://damt7w3yoa0t2.cloudfront.net/img/specialoffers/bg_wphosting_support-32b592b.jpg);
    background-size: cover;
    background-position: center;
}

.line{
    width: 100%;
    height: 4px;
}


.text {
    display: inline-block;
    max-width: 90%;
    overflow: hidden;
    font-size: 1.1em;
    line-height: 1.4em;
}

.wordpress-section {
    background-image: url(https://damt7w3yoa0t2.cloudfront.net/img/backgrounds-png/bg_light_blue_lines-598d564.png), url(https://damt7w3yoa0t2.cloudfront.net/img/patterns/crepe_paper2_light_blue_pattern-598d564.jpg);
}

.reviews-section {
    background-image: url(https://damt7w3yoa0t2.cloudfront.net/img/specialoffers/background_ligthyellow_noise-af3fdc0.png);
}

.btn-reviews {
    border-radius: 3px;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    background-color: transparent;
    border: solid 1px rgba(0,0,0,.30);
}